openapi: 3.0.3
info:
  version: '2021-02-09'
  title: ProtonMail API
servers:
  - url: 'https://mail.protonmail.com/api/'
    description: Protonmail API Endpoint
  - url: 'https://api.protonmail.ch/'
    description: Protonmail API Endpoint
paths:
  /addresses:
    get:
      tags:
        - Addresses|Setup Address
      summary: Get Addresses
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
        - name: Page
          in: query
          description: the page index
          required: false
          schema:
            type: integer
            example: 0
            default: 0
        - name: PageSize
          in: query
          description: 'the page size, maximum 150'
          required: false
          schema:
            type: integer
            example: 150
            default: 150
      responses:
        '200':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Addresses": [
                        {
                          "ID": "qmhrlFY24BhSHiFplF0B7G_cMVLi1sokaWIhfNaee6dRtdIZPYnqgI4-MpAb8h3JhOOykKv8ZsuTH8X_SrUZSg==",
                          "DomainID": "l8vWAXHBQmv0u7OVtPbcqMa4iwQaBqowINSQjPrxAr-Da8fVPKUkUcqAq30_BCxj1X0nW70HQRmAa-rIvzmKUA==",
                          "Email": "jason@protonmail.dev",
                          "Send": 1,
                          "Receive": 1,
                          "Status": 1,
                          "Type": 1,
                          "Order": 1,
                          "DisplayName": "D L'u, P.D. 定超",
                          "Signature": "hi there",
                          "HasKeys": 1,
                          "Keys": [
                            {
                              "ID": "IlnTbqicN-2HfUGIn-ki8bqZfLqNj5ErUB0z24Qx5g-4NvrrIc6GLvEpj2EPfwGDv28aKYVRRrSgEFhR_zhlkA==",
                              "Version": 3,
                              "Flags": 3,
                              "PrivateKey": "-----BEGIN PGP PRIVATE KEY BLOCK-----*-----END PGP PRIVATE KEY BLOCK-----",
                              "Fingerprint": "c93f767df53b0ca8395cfde90483475164ec6353",
                              "Activation": null,
                              "Primary": 1
                            }
                          ]
                        },
                        {
                          "ID": "_pm5NXefHCdfqXuHiQ_zcOsfC4rGaCwV4lxuJt5qCmZBh4RiQ0k5iA8wLLaphTWHWAETz-WDqjLDRXNWftciXw==",
                          "DomainID": "l8vWAXHBQmv0u7OVtPbcqMa4iwQaBqowINSQjPrxAr-Da8fVPKUkUcqAq30_BCxj1X0nW70HQRmAa-rIvzmKUA==",
                          "Email": "hi@protonmail.dev",
                          "Send": 1,
                          "Receive": 0,
                          "Status": 0,
                          "Type": 2,
                          "Order": 2,
                          "DisplayName": "hi",
                          "Signature": "hi there",
                          "HasKeys": 0,
                          "Keys": []
                        }
                      ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    post:
      tags:
        - Addresses
      summary: Create new address
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "Local": "me",
                    "Domain": "funoccupied.com",
                    "DisplayName": "hi",
                    "Signature": "signature"
                  }
          <unknown>:
            schema:
              properties:
                Local:
                  type: string
                  description: local part
                  example: user
                Domain:
                  type: string
                  description: either custom domain or a protonmail domain
                  example: funoccupied.com
                DisplayName:
                  type: string
                  example: hi
                  description: optional
                Signature:
                  type: string
                  example: signature
                  description: optional
        required: true
      responses:
        '200':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Address": {
                        "ID": "vuGSa1zsx0kV0jsfhX_xKSDQ0dvcLdMduA_c2c9fhaC1ZYCZKe8gony7nIWbnqaj8gebXLCQre1H1ZTKkhhFxA==",
                        "DomainID": "X_bSECsnvCSHHR44lXWMDOYDiZpbTUzqnQFyf_pqDq-JjXxXJCv_jQmSOLhD3e3A==",
                        "Email": "me@funoccupied.com",
                        "Send": 1,
                        "Status": 1,
                        "Type": 1,
                        "Receive": 1,
                        "Order": 5,
                        "DisplayName": "hi",
                        "Signature": "signature",
                        "HasKeys": 1,
                        "MemberID": "gony7nIWbnqaj8gebXLCQre1H1ZTKkhhFxA==",
                        "MemberName": "Fred"
                      },
                      "Code": 1000
                    }
            <unknown>:
              schema:
                type: object
                properties:
                  Status:
                    type: integer
                    description: '0 is disabled, 1 is enabled, can be set by user'
                  Type:
                    type: integer
                    description: '1 is original PM, 2 is PM alias, 3 is custom domain address'
                  Receive:
                    type: integer
                    description: '1 is active address (Status=1 and has key), 0 is inactive (cannot send or receive)'
                  DisplayName:
                    type: string
                    description: 'optional, default empty'
                  Signature:
                    type: string
                    description: 'optional, default empty'
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
        '30004':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 30004,
                      "Error": "Domain not found",
                      "Details": {}
                    }
            <unknown>:
              schema:
                type: object
                properties:
                  Status:
                    type: integer
                    description: '0 is disabled, 1 is enabled, can be set by user'
                  Type:
                    type: integer
                    description: '1 is original PM, 2 is PM alias, 3 is custom domain address'
                  Receive:
                    type: integer
                    description: '1 is active address (Status=1 and has key), 0 is inactive (cannot send or receive)'
                  DisplayName:
                    type: string
                    description: 'optional, default empty'
                  Signature:
                    type: string
                    description: 'optional, default empty'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /addresses/order:
    put:
      tags:
        - Addresses
      summary: Reorder user's addresses
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "AddressIDs" : [     // Will amend the order of addresses with the order of the corresponding AddressIDs
                          "-Bpgivr5H2qGDRiUQ4-7gm5YLf215MEgZCdzOtLW5psxgB8oNc8OnoFRykab4Z23EGEW1ka3GtQPF9xwx9-VUA==",
                          "pIJGEYyNFsPEb61otAc47_X8eoSeAfMSokny6dmg3jg2JrcdohiRuWSN2i1rgnkEnZmolVx4Np96IcwxJh1WNw==",
                          "l8vWAXHBQmv0u7OVtPbcqMa4iwQaBqowINSQjPrxAr-Da8fVPKUkUcqAq30_BCxj1X0nW70HQRmAa-rIvzmKUA=="
                  ]
                  }
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /addresses/setup:
    post:
      tags:
        - Addresses|Setup Address
      summary: Setup new non-subuser address
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "Domain": "protonmail.com",
                    "DisplayName": "hi",
                    "Signature": "signature"
                  }
          <unknown>:
            schema:
              properties:
                Domain:
                  type: string
                  description: protonmail domain
                  example: protonmail.com
                DisplayName:
                  type: string
                  example: hi
                  description: optional
                Signature:
                  type: string
                  example: signature
                  description: optional
        required: true
      responses:
        '200':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Address": {
                        "ID": "vuGSa1zsx0kV0jsfhX_xKSDQ0dvcLdMduA_c2c9fhaC1ZYCZKe8gony7nIWbnqaj8gebXLCQre1H1ZTKkhhFxA==",
                        "DomainID": "X_bSECsnvCSHHR44lXWMDOYDiZpbTUzqnQFyf_pqDq-JjXxXJCv_jQmSOLhD3e3A==",
                        "Email": "me@protonmail.com",
                        "Send": 0,
                        "Status": 1,
                        "Type": 1,
                        "Receive": 0,
                        "Order": 1,
                        "DisplayName": "hi",
                        "Signature": "signature",
                        "HasKeys": 0,
                        "Keys": []
                      },
                      "Code": 1000
                    }
            <unknown>:
              schema:
                type: object
                properties:
                  Status:
                    type: integer
                    description: '0 is disabled, 1 is enabled, can be set by user'
                  Type:
                    type: integer
                    description: '1 is original PM, 2 is PM alias, 3 is custom domain address'
                  Receive:
                    type: integer
                    description: '1 is active address (Status=1 and has key), 0 is inactive (cannot send or receive)'
                  DisplayName:
                    type: string
                    description: 'optional, default empty'
                  Signature:
                    type: string
                    description: 'optional, default empty'
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  '/addresses/{address_id}':
    get:
      tags:
        - Addresses|Address
      summary: Get Address
      description: Get a single address.
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Address": {
                        "ID": "qmhrlFY24BhSHiFplF0B7G_cMVLi1sokaWIhfNaee6dRtdIZPYnqgI4-MpAb8h3JhOOykKv8ZsuTH8X_SrUZSg==",
                        "DomainID": "l8vWAXHBQmv0u7OVtPbcqMa4iwQaBqowINSQjPrxAr-Da8fVPKUkUcqAq30_BCxj1X0nW70HQRmAa-rIvzmKUA==",
                        "Email": "jason@protonmail.dev",
                        "Send": 1,
                        "Receive": 1,
                        "Status": 1,
                        "Type": 1,
                        "Order": 1,
                        "DisplayName": "D L'u, P.D. 定超",
                        "Signature": "hi there",
                        "HasKeys": 1,
                        "Keys": [
                          {
                            "ID": "IlnTbqicN-2HfUGIn-ki8bqZfLqNj5ErUB0z24Qx5g-4NvrrIc6GLvEpj2EPfwGDv28aKYVRRrSgEFhR_zhlkA==",
                            "Version": 3,
                            "Flags": 3,
                            "PrivateKey": "-----BEGIN PGP PRIVATE KEY BLOCK-----*-----END PGP PRIVATE KEY BLOCK-----",
                            "Fingerprint": "c93f767df53b0ca8395cfde90483475164ec6353",
                            "Activation": null,
                            "Primary": 1
                          }
                        ]
                      }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    put:
      tags:
        - Addresses|Address
      summary: Update address
      description: Update display name and/or signature.
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              update display name and signature:
                value: |-
                  {
                    "DisplayName": "hi",
                    "Signature": "signature"
                  }
              use defaults:
                value: |-
                  {
                    "DisplayName": "",
                    "Signature": ""
                  }
          <unknown>:
            schema:
              properties:
                DisplayName:
                  type: string
                  example: hi
                  description: optional
                Signature:
                  type: string
                  example: signature
                  description: optional
        required: true
      responses:
        '200':
          headers:
            Access:
              schema:
                type: string
                example: application/vnd.protonmail.api+json;apiversion=0
          content:
            application/json:
              examples:
                update display name and signature:
                  value: |-
                    {
                      "Code": 1000
                    }
                use defaults:
                  value: |-
                    {
                      "Code": 1000
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Addresses|Address
      summary: Delete a Disabled Address
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: address_id
        in: path
        description: the encrypted id
        schema:
          type: string
          example: lKJlejjlk==
        required: true
  '/addresses/{address_id}/disable':
    put:
      tags:
        - Addresses|Address
      summary: Disable Address
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: address_id
        in: path
        description: the encrypted id
        schema:
          type: string
          example: lKJlejjlk==
        required: true
  '/addresses/{address_id}/enable':
    put:
      tags:
        - Addresses|Address
      summary: Enable Address
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: address_id
        in: path
        description: the encrypted id
        schema:
          type: string
          example: lKJlejjlk==
        required: true
  /admin/vpn/logicals:
    get:
      tags:
        - VPN Admin
      summary: Get array of VPN logical server information
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "LogicalServers": [
                        {
                          "ID": 1234,
                          "Name": "ES#1",
                          "Region": null,
                          "City": null,
                          "EntryCountry": "ES",
                          "ExitCountry": "ES",
                          "Domain": "es-05.protonvpn.com",
                          "DisplayTier": 2,
                          "Tier": 2,
                          "Visible": 1,
                          "Features": 0,
                          "Servers": [
                            {
                              "ID": 1063,
                              "ServicesDown": 8,
                              "Bytes": 30440,
                              "LoadUpdateTime": 1510953284,
                              "EntryIP": "95.215.61.163",
                              "ExitIP": "95.215.61.164",
                              "Domain": "es-04.protonvpn.com",
                              "MaxSpeed": 26214400,
                              "Load": 32,
                              "Enabled": 1
                            }
                          ],
                          "Load": 0,
                          "Location": {
                            "Lat": 39.4667,
                            "Long": -0.3667
                          }
                        }
                      ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    put:
      tags:
        - VPN Admin
      summary: Update Logical Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "Name": "ES#1",
                    "Region": null,
                    "City": null,
                    "Domain": "es-05.protonvpn.com",
                    "EntryCountry": "ES",
                    "ExitCountry": "ES",
                    "Location": {
                      "Lat": 39.4667,
                      "Long": -0.3667
                    },
                    "Tier": 1,
                    "DisplayTier": 2,
                    "ServerIDs": [
                      1063
                    ],
                    "Features": 0,
                    "Visible": 1
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "LogicalServer": {
                        "ID": 1234,
                        "Name": "ES#1",
                        "Region": null,
                        "City": null,
                        "EntryCountry": "ES",
                        "ExitCountry": "ES",
                        "Domain": "es-05.protonvpn.com",
                        "DisplayTier": 3,
                        "Tier": 2,
                        "Visible": 1,
                        "Features": 0,
                        "Servers": [
                          {
                            "ID": 1063,
                            "ServicesDown": 8,
                            "Bytes": 30440,
                            "LoadUpdateTime": 1510953284,
                            "EntryIP": "95.215.61.163",
                            "ExitIP": "95.215.61.164",
                            "Domain": "es-04.protonvpn.com",
                            "MaxSpeed": 26214400,
                            "Load": 32,
                            "Enabled": 1
                          }
                        ],
                        "Load": 0,
                        "Location": {
                          "Lat": 39.4667,
                          "Long": -0.3667
                        }
                      }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    post:
      tags:
        - VPN Admin
      summary: Create Logical Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "Name": "ES#1",
                    "Domain": "es-05.protonvpn.com",
                    "Region": null,
                    "City": null,
                    "EntryCountry": "ES",
                    "ExitCountry": "ES",
                    "Location": {
                      "Lat": 39.4667,
                      "Long": -0.3667
                    },
                    "Tier": 1,
                    "DisplayTier": 2,
                    "ServerIDs": [
                      1063
                    ],
                    "Features": 0,
                    "Visible": 1
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "LogicalServer": {
                        "ID": 1234,
                        "Name": "ES#1",
                        "Region": null,
                        "City": null,
                        "EntryCountry": "ES",
                        "ExitCountry": "ES",
                        "Domain": "es-05.protonvpn.com",
                        "DisplayTier": 2,
                        "Tier": 1,
                        "Visible": 1,
                        "Features": 0,
                        "Servers": [
                          {
                            "ID": 1063,
                            "ServicesDown": 8,
                            "Bytes": 30440,
                            "LoadUpdateTime": 1510953284,
                            "EntryIP": "95.215.61.163",
                            "ExitIP": "95.215.61.164",
                            "Domain": "es-04.protonvpn.com",
                            "MaxSpeed": 26214400,
                            "Load": 32,
                            "Enabled": 1
                          }
                        ],
                        "Load": 0,
                        "Location": {
                          "Lat": 39.4667,
                          "Long": -0.3667
                        }
                      }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - VPN Admin
      summary: Delete Logical Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /admin/vpn/servers:
    get:
      tags:
        - VPN Admin
      summary: Get array of VPN server information
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Servers": [
                        {
                          "ID": 1063,
                          "ServicesDown": 8,
                          "Bytes": 30440,
                          "LoadUpdateTime": 1510953284,
                          "EntryIP": "95.215.61.163",
                          "ExitIP": "95.215.61.164",
                          "Domain": "es-04.protonvpn.com",
                          "MaxSpeed": 26214400,
                          "Load": 32,
                          "Enabled": 1
                        }
                      ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    put:
      tags:
        - VPN Admin
      summary: Update Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "EntryIP": "95.215.61.163",
                    "ExitIP": "95.215.61.164",
                    "Domain": "es-04.protonvpn.com",
                    "Enabled": 1
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Server": {
                        "ID": 1063,
                        "ServicesDown": 8,
                        "Bytes": 30440,
                        "LoadUpdateTime": 1510953284,
                        "EntryIP": "95.215.61.163",
                        "ExitIP": "95.215.61.164",
                        "Domain": "es-04.protonvpn.com",
                        "MaxSpeed": 26214400,
                        "Load": 32,
                        "Enabled": 1
                      }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    post:
      tags:
        - VPN Admin
      summary: Create Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "EntryIP": "95.215.61.163",
                    "ExitIP": "95.215.61.164",
                    "Domain": "es-04.protonvpn.com",
                    "Enabled": 1
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Server": {
                        "ID": 1063,
                        "ServicesDown": 8,
                        "Bytes": 30440,
                        "LoadUpdateTime": 1510953284,
                        "EntryIP": "95.215.61.163",
                        "ExitIP": "95.215.61.164",
                        "Domain": "es-04.protonvpn.com",
                        "MaxSpeed": 26214400,
                        "Load": 32,
                        "Enabled": 1
                      }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - VPN Admin
      summary: Delete Server
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /attachments:
    post:
      tags:
        - Attachments
      summary: Upload an attachment to a draft message
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
            examples:
              example:
                value: |-
                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="Filename"

                  test.txt
                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="MessageID"

                  ASDkjhasdSAJhasdasdASD==
                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="MIMEType"

                  text/plain
                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="ContentID" // Empty string or missing is no ContentID

                  abcdef@domain.com
                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="KeyPackets"; filename="temp1"
                  Content-Type: application/octet-stream

                  {binary asymmetric key packet}

                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="DataPacket"; filename="temp2"
                  Content-Type: application/octet-stream

                  {encrypted data packet}

                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
                  Content-Disposition: form-data; name="Signature"; filename="temp3"
                  Content-Type: application/octet-stream

                  {optional binary signature packet(s)}

                  ----WebKitFormBoundary7MA4YWxkTrZu0gW
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Attachment": {
                            "ID":"I6hgx3Ol_sdfAs832J2==",
                            "Name":"test.txt",
                            "Size": 1503,
                            "MIMEType":"text\/plain",
                            "KeyPackets":"wcBMA6rw6TH9oRKuAQf\/Q3scaoBPjn710+EhfiIP0jF2udWfZ4Thv9TCiaolRMMhivqBpOoeFuyVi6\/LqpibLeVu3karg7zvFTFb+97eWF8ZP8cg8pPjyP4QRclZ4v1hfF1G6Tlw5L3TWt9j5WeMpinjJ3MY0df9WUzf9u+c7AoKNUsfuXHQ4o2ry94ccVYLfm13dw2gEkHxqMkwJ+SHR7vuKADl1EQUzkYjq7+pF3xje4Wwr0Xg+GAcOBQVUcQ3tkbvwZq3\/qxhavP5Pdlei\/8BGUreWQVicKFY5yW3nz+RgHkwqKNwdRnjr1mcFStv45oEicAcccb72FyXuHrhbAzoBmJT2ngQMxUS9+ZsTg==",
                            "Headers": { },
                            "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----" // or null
                        }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  '/attachments/{attachmentID}':
    get:
      tags:
        - Attachments
      summary: Get an attachment by ID
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
        - $ref: '#/components/parameters/header_Accept_any'
      responses:
        '200':
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename = "Issue 4.png"
            Content-Length:
              schema:
                type: string
                example: '1532'
            Content-Transfer-Encoding:
              schema:
                type: string
                example: binary
          content:
            image/png:
              examples:
                example:
                  value: '{binary_file_content_or_encrypted_data_packet}'
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Attachments
      summary: Delete an attachment from a draft message
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
        - $ref: '#/components/parameters/header_Accept_json'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - name: attachmentID
        in: path
        schema:
          type: string
          example: <encrypted attachment id>
        required: true
  '/attachments/{attachmentID}/signature':
    put:
      tags:
        - Attachments
      summary: Update an attachment's signature on a draft message
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "Signature" : "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----" // or null
                  }
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: attachmentID
        in: path
        schema:
          type: string
          example: <encrypted attachment id>
        required: true
  /auth:
    post:
      tags:
        - Authentication
      summary: Authenticate
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |
                  {
                      "ClientID": "demoapp",
                      "ClientSecret": "demopass", //only required for admin panel
                      "Username": "user_name",
                      "ClientEphemeral" : "<base64_encoded_ephemeral>",
                      "ClientProof" : "<base64_encoded_proof>",
                      "SRPSession": "<hex_encoded_session_key>",
                      "TwoFactorCode": 123456, //either this, the U2F object, or nothing if 2FA is disabled
                      "U2F": {
                          "KeyHandle" : "<aKeyHandle>",
                          "ClientData": "1046-length string",
                          "SignatureData": "theSignatureData"
                      }
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |
                    {
                        "Code": 1000,
                        "AccessToken": "-----BEGIN PGP MESSAGE-----.*-----END PGP MESSAGE-----",
                        "ExpiresIn": 360000,
                        "TokenType": "Bearer",
                        "Scope": "full <other_scopes>", // Full access with decrypted AccessToken
                        "UID": "6f3c4f52cf499c2066e6c5669a293177c1f43755",
                        "RefreshToken": "aafe30367aa7dc09bf5c42d15a93e6c57270fe6f",
                        "UserStatus": 13,
                        "PrivateKey": "-----BEGIN PGP PRIVATE KEY BLOCK-----.*-----END PGP PRIVATE KEY BLOCK-----",
                        "KeySalt": <base64_encodeed_salt>,
                        "EventID":"ACXDmTaBub14w==", // first client event ID, send with first request for events
                        "ServerProof": <base64_encoded_proof>,
                        "PasswordMode": 2
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    delete:
      tags:
        - Authentication
      summary: Revoke a token
      parameters:
        - $ref: '#/components/parameters/header_x-pm-uid'
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /auth/cookies:
    post:
      tags:
        - Authentication
      summary: 'Set secure cookies, web app only'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "ResponseType": "token",
                    "ClientID": "demoapp",
                    "GrantType": "refresh_token",
                    "RefreshToken": "eaad5a7059835aac32c0bf99c2e208a59b8c1a55",
                    "UID": "6f3c4f52cf499c2066e6c5669a293177c1f43755",
                    "RedirectURI": "http://protonmail.ch",
                    "State": "random_string"
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "UID": "3f33a926677e5cf429db2dc7fee519a1"
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /auth/info:
    post:
      tags:
        - Authentication
      summary: Set up SRP authentication request
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "ClientID": "demoapp",
                    "ClientSecret": "demopass",
                    "Username": "user_name"
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Modulus": "-----BEGIN PGP SIGNED MESSAGE-----*-----END SIGNATURE-----",
                        "ServerEphemeral": <base64_encoded_server_ephemeral>,
                        "Version": 4,
                        "Salt": <base64_encoded_salt>,
                        "SRPSession": <hex_encoded_session_key>,
                        "TwoFactor": 1, // deprecated
                        "2FA": {
                            "TOTP" : 1,
                            "U2F" : {
                                "Challenge": "a43lengthStringAndUnique",
                                "RegisteredKeys": [{
                                    "Version": "U2F_V2",
                                    "KeyHandle":<aKeyHandle>
                                }]
                            }
                        }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /auth/modulus:
    get:
      tags:
        - Authentication
      summary: Get random SRP modulus
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1000,
                      "Modulus": "-----BEGIN PGP SIGNED MESSAGE-----.*-----END PGP SIGNATURE-----",
                      "ModulusID": "Oq_JB_IkrOx5WlpxzlRPocN3_NhJ80V7DGav77eRtSDkOtLxW2jfI3nUpEqANGpboOyN-GuzEFXadlpxgVp7_g=="
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh an expired token
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                    "ResponseType": "token",
                    "ClientID": "demoapp",
                    "GrantType": "refresh_token",
                    "RefreshToken": "eaad5a7059835aac32c0bf99c2e208a59b8c1a55",
                    "UID": "6f3c4f52cf499c2066e6c5669a293177c1f43755",
                    "RedirectURI": "http://protonmail.ch",
                    "State": "random_string"
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "AccessToken": "8a2575fad8788d253543957073d494c86f22f829", // Decrypted if reset scope or no keys set up
                        "ExpiresIn": 360000,
                        "TokenType": "Bearer",
                        "Scope": "reset", // Can only be used to reset mailbox password
                        "UID": "e5358d5c2352650c801fdf533fc5c61308b52430",
                        "UserStatus": null,
                        "RefreshToken": "b894b4c4f20003f12d486900d8b88c7d68e67235"
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
    parameters:
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /auth/sessions:
    get:
      tags:
        - Authentication
      summary: Get active sessions
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Sessions": [
                            {
                                "UID": "cc0a3ec21c3af3461c9c310bf3f568795fdf6dc5",
                                "ClientID": "Web",
                                "CreateTime": 1527262849,
                                "MemberID": "IhcUWoRxdY3S-6pfk2L1oSTeZx5kvpeqcxuii8h1ic1nYnSJa11LP8DABcgsRJCwXXDjxwPFSxEGJrlrvMWFpQ==",
                                "Revocable": 0
                            },
                            {
                                "UID": "1c48fc422e50d64f5a55fb218cd3dc49e661b49e",
                                "ClientID": "Web",
                                "CreateTime": 1527350133,
                                "MemberID": null,
                                "Revocable: 1
                            }
                        ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Authentication
      summary: Revoke a
      parameters:
        - $ref: '#/components/parameters/header_api_version_1'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /betas:
    get:
      tags:
        - Betas
      summary: Get all beta registrations
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Betas": [
                            {
                                "ClientID": "iOSVPN",
                                "Email" : "john@exampl.com", // may be null
                                "CreateTime": 1538416904,
                                "ModifyTime": 1538416904
                            }
                        ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Betas
      summary: Delete all beta registrations
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  '/betas/{clientid}':
    get:
      tags:
        - Betas
      summary: Get a specific beta registration
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      responses:
        '200':
          $ref: '#/components/responses/BetaRegistrationOK'
      security:
        - pm_authentication: []
    put:
      tags:
        - Betas
      summary: Create or update beta registration
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "Email": "john@example.com" // Only required for some betas
                  }
      responses:
        '200':
          $ref: '#/components/responses/BetaRegistrationOK'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Betas
      summary: Delete a specific beta registration
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: clientid
        in: path
        description: the client ID
        schema:
          type: string
          example: iOSVPN
        required: true
  /contacts:
    get:
      tags:
        - Contacts
      summary: Get a list of contacts minus their data for when user visits the contact page
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
        - name: Page
          in: query
          description: the page index
          required: false
          schema:
            type: integer
            example: 0
            default: 0
        - name: PageSize
          in: query
          description: 'the page size, maximum 1000'
          required: false
          schema:
            type: integer
            example: 1000
            default: 1000
        - name: LabelID
          in: query
          description: label to filter on
          required: false
          schema:
            type: string
            example: LKJLalkfejl==
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Contacts": [                               // Contacts are ordered by Name
                            {
                                "ID": "a29olIjFv0rnXxBhSMw==",      // Contact.ContactID
                                "Name": "ProtonMail Features",
                                "UID": "proton-legacy-4bcd0f7f-acb8-4d27-9793-91adfd90750f",
                                "Size": 0,
                                "CreateTime": 1503815366,
                                "ModifyTime": 1503815366,
                                "LabelIDs": [
                                    "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                                ]
                            },
                            {
                                "ID": "3N_6L-i2CMwWWSV6Pw==",
                                "Name": "zzBob",
                                "UID": "proton-legacy-690d179c-3a23-4666-9010-2164e6d82492",
                                "Size": 0,
                                "CreateTime": 1503815366,
                                "ModifyTime": 1503815366,
                                "LabelIDs": []
                            }
                        ],
                        "Total": 2 // Total number of contacts
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    post:
      tags:
        - Contacts
      summary: Create new contacts
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "Contacts": [
                          {
                              "Cards": [
                                  {
                                      "Type": 3, // encrypted and signed, optional
                                      "Data": "-----BEGIN PGP MESSAGE-----.*-----END PGP MESSAGE-----",
                                      "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                  },
                                  {
                                      "Type": 2, // Signed, required, can only include VERSION, PRODID, FN, UID, EMAIL. FN and UID required, EMAILs optional, but must have vCard group
                                      "Data": "BEGIN:VCARD\r\nVERSION:4.0\r\nFN:ProtonMail Features\r\nUID:proton-legacy-139892c2-f691-4118-8c29-061196013e04\r\nitem1.EMAIL;TYPE=work;PREF=1:features@protonmail.black\r\nitem2.EMAIL;TYPE=home;PREF=2:features@protonmail.ch\r\nEND:VCARD\r\n",
                                      "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                  },
                                  {
                                      "Type": 0, // Unsigned, can only include VERSION, PRODID, CATEGORIES
                                      "Data": "BEGIN:VCARD\r\nVERSION:4.0\r\nitem1.CATEGORIES:MyLabelName1,MyLabelName2\r\nEND:VCARD\r\n",
                                      "Signature": null
                                  }
                              ]
                          },
                          {
                              "Cards": [
                                  {
                                      "Type": 2, // Signed, required
                                      "Data": "BEGIN:VCARDr\nVERSION:4.0\r\nPRODID:-//ProtonMail//ProtonMail vCard 1.0.0//EN\r\nFN:ProtonMail Security\r\nUID:proton-legacy-139892c2-f692-4118-8c29-061196013e04\r\nitem1.EMAIL;PREF=1:security@protonmail.dev\r\nEND:VCARD\r\n",
                                      "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                  }
                              ]
                          }
                      ],
                      "Overwrite": 1, // when UID conflict, 0 = error, 1 = overwrite
                      "Labels": 1 // add labels (CATEGORIES) if present, import will fail if label does not exist
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code" : 1001,
                        "Responses" : [
                            {
                                "Index": 0,
                                "Response" : {
                                    "Code": 1000,
                                    "Contact": {
                                        "ID": "a29olIjFv0rnXxBhSMw==",
                                        "Name": "ProtonMail Features",
                                        "UID": "proton-legacy-139892c2-f691-4118-8c29-061196013e04",
                                        "Size": 1434,
                                        "CreateTime": 1503815366,
                                        "ModifyTime": 1503815366,
                                        "ContactEmails": [
                                            {
                                                "ID": "aefew4323jFv0BhSMw==",   // ContactList.ContactID
                                                "Email": "features@protonmail.black",
                                                "Type": ["work"],
                                                "Defaults": 1,                 // ignore for now, future feature
                                                "Order": 1,
                                                "ContactID": "a29olIjFv0rnXxBhSMw==",
                                                "LabelIDs": [                   // Groups
                                                    "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                                                ]
                                            },
                                            {
                                                "ID": "dbdvrafejFv0BhSMw==",
                                                "Email": "features@protonmail.ch",
                                                "Type": ["home"],
                                                "Defaults": 1,
                                                "Order": 2,
                                                "ContactID": "a29olIjFv0rnXxBhSMw==",
                                                "LabelIDs": []
                                            }
                                        ],
                                        "LabelIDs": [                           // Labels on Contact, ignore, maybe future feature
                                            "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                                        ]
                                    }
                                }
                            },
                            {
                                "Index": 1,
                                "Response": {
                                    "Code": 1000,
                                    "Contact": {
                                        "ID": "jhuafesr2srgaefSMw==",
                                        "Name": "ProtonMail Security",
                                        "UID": "proton-legacy-4bcd0f7f-acb6-4d27-9793-91adfd90750f",
                                        "Size": 1234,
                                        "CreateTime": 1503815366,
                                        "ModifyTime": 1503815366,
                                        "ContactEmails": [
                                            {
                                                "ID": "aefew4323jFv0BhSMw==",   // ContactList.ContactID
                                                "Email": "security@protonmail.dev",
                                                "Type": [],
                                                "Defaults": 1,                 // ignore for now, future feature
                                                "Order": 1,
                                                "ContactID": "jhuafesr2srgaefSMw==",
                                                "LabelIDs": []                   // Groups
                                            }
                                        ],
                                        "LabelIDs": []
                                    }
                                }
                            }
                        ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    delete:
      tags:
        - Contacts
      summary: Delete all contacts
      parameters:
        - $ref: '#/components/parameters/header_api_version_3'
      responses:
        '200':
          $ref: '#/components/responses/SimpleOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_Accept_json'
  /contacts/delete:
    put:
      tags:
        - Contacts
      summary: Delete array of contacts
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "IDs": [
                          "gD7tqQFumWuP0P3Jxu_IYoNLsh6CbixlCAnuXbbwnTTUlhTJ5WRDQHk1MnphQQ6IR06W74RxTF-ZSWWjcds8ZA==",  //ContactID's
                          "xAUc9Wt2C2TEf7810SHO49BHGxz7xZMBcuBQZpyj9dG-kcevbCMr3rlsjMuUOHXMNQhd_QLeLVy0YKIe-vwUIQ=="
                      ]
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                      "Code": 1001,
                      "Responses": [
                        {
                          "ID": "gD7tqQFumWuP0P3Jxu_IYoNLsh6CbixlCAnuXbbwnTTUlhTJ5WRDQHk1MnphQQ6IR06W74RxTF-ZSWWjcds8ZA==",
                          "Response": {
                            "Code": 1000
                          }
                        },
                        {
                          "ID": "xAUc9Wt2C2TEf7810SHO49BHGxz7xZMBcuBQZpyj9dG-kcevbCMr3rlsjMuUOHXMNQhd_QLeLVy0YKIe-vwUIQ==",
                          "Response": {
                            "Code": 13043,
                            "Error": "Contact does not exist",
                            "Details": {}
                          }
                        }
                      ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
  /contacts/emails:
    get:
      tags:
        - Contacts
      summary: Get a list of contact emails
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "ContactEmails": [ // Contacts are in order of decreasing priority
                            {
                                "ID": "afefafernXxBhSMw==",     // ContactList.ContactID
                                "Name": "ProtonMail Features",
                                "Email": "features@protonmail.black",
                                "Type": ["work"],
                                "Defaults": 1,                 // ignore for now, future feature
                                "Order": 1,                    // priority of this email for this ContactID
                                "ContactID": "gD7tqQFumWuP0P3Jxu_IYo==",
                                "LabelIDs": [                    // Groups
                                    "afeaefaefaef==",
                                    "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                                ]
                            },
                            {
                                "ID": "ertCMwWWSV6Pw==",
                                "Name": "Bob",
                                "Email": "derp@derp.com",
                                "Type": [],
                                "Defaults": 1,
                                "Order": 2,
                                "ContactID": "gD7tqQFumWuP0P3Jxu_IYo==",
                                "LabelIDs": []
                            }
                        ],
                        "Total": 2 // Total number of contact emails
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: Page
        in: query
        description: the page index
        required: false
        schema:
          type: integer
          example: 0
          default: 0
      - name: PageSize
        in: query
        description: 'the page size, maximum 1000'
        required: false
        schema:
          type: integer
          example: 1000
          default: 1000
      - name: Email
        in: query
        description: 'email to filter on, cannot be used with LabelID'
        required: false
        schema:
          type: string
          example: user@example.com
      - name: LabelID
        in: query
        description: 'label to filter on, cannot be used with Email'
        required: false
        schema:
          type: string
          example: LKJLalkfejl==
  /contacts/emails/label:
    put:
      tags:
        - Contacts
      summary: Label an array of ContactEmails
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfContactEmails'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
  /contacts/emails/unlabel:
    put:
      tags:
        - Contacts
      summary: Unlabel an array of ContactEmails
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfContactEmails'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
  /contacts/export:
    get:
      tags:
        - Contacts
      summary: Get all contacts for export
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Contacts": [                           // Contacts are not in any order
                            {
                                "ID": "afefafernXxBhSMw==",     // Contact.ContactID
                                "Cards": [
                                    {
                                        "Type": 3, // 0 for cleartext, 1 for encrypted only (not used), 2 for signed, 3 for both
                                        "Data": "-----BEGIN PGP MESSAGE-----.*-----END PGP MESSAGE-----",
                                        "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                    },
                                    {
                                        "Type": 2,
                                        "Data": "BEGIN:VCARD\r\nVERSION:4.0\r\nPRODID:-//ProtonMail//ProtonMail vCard 1.0.0//EN\r\nFN:Test\r\nUID:proton-legacy-139892c2-f691-4118-8c29-061196013e04\r\nitem1.EMAIL;PREF=1:test@protonmail.dev\r\nEND:VCARD\r\n",
                                        "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                    }
                                ]
                            },
                            {
                                "ID": "jhuafesr2srgaefSMw==",
                                "Cards": [
                                    {
                                        "Type": 0,
                                        "Data": "BEGIN:VCARD\r\nVERSION:4.0\r\nPRODID:-//ProtonMail//ProtonMail vCard 1.0.0//EN\r\nFN:ProtonMail Security\r\nUID:proton-legacy-139892c2-f692-4118-8c29-061196013e04\r\nitem1.EMAIL;PREF=1:security@protonmail.dev\r\nEND:VCARD\r\n",
                                        "Signature": null
                                    }
                                ]
                            }
                        ],
                        "Total": 2 // Total number of contacts
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: Page
        in: query
        description: the page index
        required: false
        schema:
          type: integer
          example: 0
          default: 0
      - name: PageSize
        in: query
        description: 'the page size, maximum 50'
        required: false
        schema:
          type: integer
          example: 50
          default: 50
      - name: LabelID
        in: query
        description: label to filter on
        required: false
        schema:
          type: string
          example: LKJLalkfejl==
  /contacts/label:
    put:
      tags:
        - Contacts
      summary: Label an array of contacts
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfContacts'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
  /contacts/unlabel:
    put:
      tags:
        - Contacts
      summary: Unlabel an array of contacts
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfContacts'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
  '/contacts/{contact_id}':
    put:
      tags:
        - Contacts
      summary: Update a contact
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                      "Cards": [
                          {
                              "Type": 2, // Signed, required
                              "Data": "BEGIN:VCARDr\nVERSION:4.0\r\nPRODID:-//ProtonMail//ProtonMail vCard 1.0.0//EN\r\nFN:ProtonMail Security\r\nUID:proton-legacy-139892c2-f692-4118-8c29-061196013e04\r\nitem1.EMAIL;PREF=1:security@protonmail.dev\r\nEND:VCARD\r\n",
                              "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                          }
                      ]
                  }
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Contact": {
                            "ID": "jhuafesr2srgaefSMw==",
                            "Name": "ProtonMail Security",
                            "UID": "proton-legacy-4bcd0f7f-acb6-4d27-9793-91adfd90750f",
                            "Size": 1234,
                            "CreateTime": 1503815366,
                            "ModifyTime": 1503815366,
                            "ContactEmails": [
                                {
                                    "ID": "aefew4323jFv0BhSMw==",   // ContactList.ContactID
                                    "Email": "security@protonmail.dev",
                                    "Type": [],
                                    "Defaults": 1,                 // ignore for now, future feature
                                    "Order": 1,
                                    "ContactID": "jhuafesr2srgaefSMw==",
                                    "LabelIDs": []                   // Groups
                                }
                            ],
                            "LabelIDs": []
                        }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: contact_id
        in: path
        description: the encrypted ContactID
        schema:
          type: string
          example: lKJlejjlk==
        required: true
  '/contacts/{contactid}':
    get:
      tags:
        - Contacts
      summary: Get full Contact
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Contact": {
                            "ID": "a29olIjFv0rnXxBhSMw==",
                            "Name": "ProtonMail Features",
                            "UID": "proton-legacy-139892c2-f691-4118-8c29-061196013e04",
                            "Size": 1234,
                            "CreateTime": 1503815366,
                            "ModifyTime": 1503815366,
                            "ContactEmails": [
                                {
                                    "ID": "aefew4323jFv0BhSMw==",   // ContactList.ContactID
                                    "Email": "features@protonmail.black",
                                    "Type": ["work"],
                                    "Defaults": 1,                 // ignore for now, future feature
                                    "Order": 1,
                                    "ContactID": "a29olIjFv0rnXxBhSMw==",
                                    "LabelIDs": [                   // Groups
                                        "afeaefaefaef==",
                                        "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                                    ]
                                },
                                {
                                    "ID": "dbdvrafejFv0BhSMw==",
                                    "Email": "features@protonmail.ch",
                                    "Type": ["home"],
                                    "Defaults": 1,
                                    "Order": 2,
                                    "ContactID": "a29olIjFv0rnXxBhSMw==",
                                    "LabelIDs": []
                                }
                            ],
                            "LabelIDs": [                           // Labels on Contact, ignore, maybe future feature
                                "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w=="
                            ],
                            "Cards": [
                                {
                                    "Type": 3, // 0 for cleartext, 1 for encrypted only (not used), 2 for signed, 3 for both
                                    "Data": "-----BEGIN PGP MESSAGE-----.*-----END PGP MESSAGE-----",
                                    "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                },
                                {
                                    "Type": 2,
                                    "Data": "BEGIN:VCARD\r\nVERSION:4.0\r\nPRODID:-//ProtonMail//ProtonMail vCard 1.0.0//EN\r\nFN:ProtonMail Features\r\nUID:proton-legacy-139892c2-f691-4118-8c29-061196013e04\r\nitem1.EMAIL;TYPE=work;PREF=1:features@protonmail.black\r\nitem2.EMAIL;TYPE=home;PREF=2:features@protonmail.ch\r\nEND:VCARD\r\n",
                                    "Signature": "-----BEGIN PGP SIGNATURE-----.*-----END PGP SIGNATURE-----"
                                }
                            ]
                        }
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_3'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: contactid
        in: path
        description: the ContactID
        schema:
          type: string
          example: ACXDmTaBub14w==
        required: true
  /conversations:
    get:
      tags:
        - Conversations
      summary: Get a list of conversations
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Total": 76,
                        "Conversations": [
                            {
                                "ID": "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w==",
                                "Order": 675,
                                "Subject": "Testing",
                                "Senders": [
                                    {
                                      "Address": "derp@derp.com",
                                      "Name": "John Smith"
                                    }
                                ],
                                "Recipients": [
                                    {
                                        "Address": "jason@protonmail.email",
                                        "Name": ""
                                    }
                                ],
                                "NumMessages": 5,
                                "NumUnread": 0,
                                "NumAttachments": 0,
                                "ExpirationTime": 0, // If non-zero, earliest expiration time in conversation
                                "TotalSize": 3555,
                                "AddressID": "AJuSqm0qvIL4LSMR9LWsqNOa2OlAU_Iqr2Qcducsz-ZA==",
                                "LabelIDs": [
                                    "0", // Inbox
                                    "10", // Starred
                                    "G5LuBhyf5dezEmhqiTNhqP1G3ZR8cxeyzU9oxAOcuwKyHng06rbg==" // User label
                                ],
                                "Labels": [
                                    {
                                        "ID": "0", // Inbox
                                        "NumUnread" : 0,
                                        "NumMessages": 5
                                    },
                                    {
                                        "ID": "10", // Starred
                                        "NumUnread" : 0,
                                        "NumMessages": 1
                                    },
                                    {
                                        "ID": "G5LuBhyf5dezEmhqiTNhqP1G3ZR8cxeyzU9oxAOcuwKyHng06rbg==", // User label
                                        "NumUnread" : 0,
                                        "NumMessages": 1
                                    }
                                ],
                                "Time": "1418736382" // Latest message time in conversation MATCHING FILTER, can change based on query!
                            }
                        ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: Location
        in: query
        description: 'message location 0 => Inbox, 1 => Draft, 2 => Outbox, 3 => Trash, 4 => Spam, 6 => Archive'
        required: false
        schema:
          type: integer
          example: 0
          enum:
            - '0'
            - '1'
            - '2'
            - '3'
            - '4'
            - '6'
      - name: Page
        in: query
        description: the page index
        required: false
        schema:
          type: integer
          example: 0
          default: 0
      - name: PageSize
        in: query
        description: 'the page size, maximum 150'
        required: false
        schema:
          type: integer
          example: 50
          default: 50
      - name: Limit
        in: query
        description: 'the number of conversations to return, defaults to page size (1 page), maximum 150'
        required: false
        schema:
          type: integer
          default: 50
      - name: LabelID
        in: query
        description: label to filter on
        required: false
        schema:
          type: string
          example: <encrypted_label_id>
      - name: Desc
        in: query
        description: '0 => ASC, 1 => DESC'
        required: false
        schema:
          type: integer
          example: 1
          default: 1
          enum:
            - '0'
            - '1'
      - name: Begin
        in: query
        description: UNIX timestamp to filter conversations earlier than timestamp
        required: false
        schema:
          type: integer
          example: 1433807257
      - name: End
        in: query
        description: UNIX timestamp to filter conversations later than timestamp
        required: false
        schema:
          type: integer
          example: 1433807257
      - name: BeginID
        in: query
        description: 'return only conversations newer, in creation time (NOT timestamp), than BeginID if timestamp = Begin'
        required: false
        schema:
          type: string
          example: <encrypted_message_id>
      - name: EndID
        in: query
        description: 'return only conversations older, in creation time (NOT timestamp), than EndID if timestamp = End'
        required: false
        schema:
          type: string
          example: <encrypted_message_id>
      - name: Keyword
        in: query
        description: 'Keyword search of To, CC, BCC, From, Subject'
        required: false
        schema:
          type: string
          example: cheese
      - name: To
        in: query
        description: 'Keyword search of To, CC, BCC'
        required: false
        schema:
          type: string
          example: cheese
      - name: From
        in: query
        description: Keyword search of From
        required: false
        schema:
          type: string
          example: cheese
      - name: Subject
        in: query
        description: Keyword search of Subject
        required: false
        schema:
          type: string
          example: cheese
      - name: Attachments
        in: query
        description: 1 => at least one attachment(s)
        required: false
        schema:
          type: integer
          example: 1
          enum:
            - '1'
      - name: Starred
        in: query
        description: 1 => at least one starred message
        required: false
        schema:
          type: integer
          example: 1
          enum:
            - '1'
      - name: Unread
        in: query
        description: 1 => at least one unread message
        required: false
        schema:
          type: integer
          example: 1
          enum:
            - '1'
      - name: AddressID
        in: query
        description: address to filter on
        required: false
        schema:
          type: string
          example: <encrypted_address_id>
      - name: ID
        in: query
        description: conversation ID(s) to filter on
        required: false
        schema:
          oneOf:
            - type: string
              example: <encrypted_conv_id>
            - type: array
      - name: AutoWildcard
        in: query
        description: 'automatically convert simple queries to wildcarded versions, such as `test` to `*test*`'
        required: false
        schema:
          type: integer
          example: 1
  /conversations/count:
    get:
      tags:
        - Conversations
      summary: Get grouped conversation count
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Counts": [
                            {
                                "LabelID": "0",
                                "Total": 87.
                                "Unread": 15
                            },
                            {
                                "LabelID": "1",
                                "Total": 42,
                                "Unread": 10
                            },
                            {
                                "LabelID": "2",
                                "Total": 17,
                                "Unread": 7
                            },
                            {
                                "LabelID": "3",
                                "Total": 2,
                                "Unread": 2
                            },
                            {
                                "LabelID": "4",
                                "Total": 1,
                                "Unread": 0
                            },
                            {
                                "LabelID": "6",
                                "Total": 1,
                                "Unread": 0
                            },
                            {
                                "LabelID": "10",
                                "Total": 6,
                                "Unread": 1
                            },
                            {
                                "LabelID": "D4TVgdFKidFgQWd5IeXYyegjDNV9KWF1HDwjxZlesUo-Wc2NTL8mUQc6IlYwowznc5vHQkTL4iUbn6K0CorrjQ==",
                                "Total": 54,
                                "Unread": 18
                            },
                            {
                                "LabelID": "6CucpHSMwAfHV3iSUEdbrmI4VLCzM3lWd1NR5C2DGUmfx5Ljq2LEkynoD3y-15stpnTFqWMedJs-pwUUJH1waQ==",
                                "Total": 2,
                                "Unread": 0
                            }
                        ]
                    }
          description: '[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
      - name: AddressID
        in: query
        description: address to filter on
        required: false
        schema:
          type: string
          example: <encrypted_address_id>
  /conversations/delete:
    put:
      tags:
        - Conversations
      summary: Delete trashed messages in an array of conversations
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                          "IDs" : [
                              "KPlISx5MiML3XcSY-tfNw==",
                              "IwuSjbOUIN105YSvVrdig=="
                          ],
                          "LabelID" : "PjSFx5MiML3XcSY-tfNw==" // Optional, defaults to Trash (3)
                      }
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /conversations/label:
    put:
      tags:
        - Conversations
      summary: Label/move an array of conversations
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfIds'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /conversations/read:
    put:
      tags:
        - Conversations
      summary: Mark an array of conversations as read
      requestBody:
        $ref: '#/components/requestBodies/ArrayOfIds'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /conversations/unlabel:
    put:
      tags:
        - Conversations
      summary: Unlabel an array of conversations
      requestBody:
        $ref: '#/components/requestBodies/LabelArrayOfIds'
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  /conversations/unread:
    put:
      tags:
        - Conversations
      summary: Mark an array of conversations as unread
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
            examples:
              example:
                value: |-
                  {
                          "IDs" : [
                              "KPlISx5MiML3XcSY-tfNw==",
                              "IwuSjbOUIN105YSvVrdig=="
                          ],
                          "LabelID" : "PjSFx5MiML3XcSY-tfNw==" // Optional, defaults to AllMail (5)
                      }
      responses:
        '200':
          $ref: '#/components/responses/MessageOperationOK'
      security:
        - pm_authentication: []
    parameters:
      - $ref: '#/components/parameters/header_x-pm-uid'
      - $ref: '#/components/parameters/header_x-pm-appversion'
      - $ref: '#/components/parameters/header_api_version_1'
      - $ref: '#/components/parameters/header_Accept_json'
  '/conversations/{conversationid}':
    get:
      tags:
        - Conversations
      summary: Get conversation and associated message metadata
      responses:
        '200':
          content:
            application/json:
              examples:
                example:
                  value: |-
                    {
                        "Code": 1000,
                        "Conversation": {
                            "ID": "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w==",
                            "Order": 678,
                            "Subject": "Re: Checking in",
                            "Senders": [
                                {
                                    "Address": "example@example.com",
                                    "Name": "Example McExample"
                                }
                            ],
                            "Recipients": [
                                {
                                    "Address": "jason@protonmail.ch",
                                    "Name": "Jason Stockman"
                                }
                            ],
                            "NumMessages": 1,
                            "NumUnread": 0,
                            "NumAttachments": 0,
                            "ExpirationTime": 0,
                            "TotalSize": 10133,
                            "AddressID": "AJuSqm0qvIL4LSMR9LWsqNOa2OlAU_Iqr2Qcducsz-ZA==",
                            "LabelIDs": [
                                "0", // Inbox
                                "10", // Starred
                                "G5LuBhyf5dezEmhqiTNhqP1G3ZR8cxeyzU9oxAOcuwKyHng06rbg==" // User label
                            ]
                            "Labels": [
                                {
                                    "ID": "0", // Inbox
                                    "NumUnread" : 0,
                                    "NumMessages": 1
                                },
                                {
                                    "ID": "10", // Starred
                                    "NumUnread" : 0,
                                    "NumMessages": 1
                                },
                                {
                                    "ID": "G5LuBhyf5dezEmhqiTNhqP1G3ZR8cxeyzU9oxAOcuwKyHng06rbg==", // User label
                                    "NumUnread" : 0,
                                    "NumMessages": 1
                                }
                            ]
                        },
                        "Messages": [
                            {   // Metadata for all but one messages
                                "ID": "qvIL4LSMR9LWsqNOa2OlAU_Iqr2Qcducsz-ZA==",
                                "Order": 734,
                                "ConversationID": "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w==",
                                "Subject": "Re: Checking in",
                                "Unread": 0,
                                "Type": 0, // 0 = INBOX, 1 = DRAFT, 2 = SENT, 3 = INBOX_AND_SENT
                                "Sender": {
                                    "Address": "example@example.com",
                                    "Name": "Example McExample"
                                },
                                "ToList": [
                                    {
                                        "Address": "jason@protonmail.ch",
                                        "Name": "Jason Stockman"
                                    }
                                ],
                                "Time": 1419011135,
                                "Size": 10133,
                                "Location": 0, // To be removed
                                "Starred": 1, // To be removed
                                "HasAttachment": 0,
                                "IsEncrypted": 2,
                                "ExpirationTime": 0,
                                "IsReplied": 0,
                                "IsRepliedAll": 1,
                                "IsForwarded": 0,
                                "AddressID": "222",
                                "CCList":[

                                ],
                                "BCCList":[

                                ],
                                "LabelIDs": [
                                    "0", // Inbox
                                    "10", // Starred
                                    "G5LuBhyf5dezEmhqiTNhqP1G3ZR8cxeyzU9oxAOcuwKyHng06rbg==" // User label
                                ]
                            },
                            {   // Full message for one message
                                "ID": "ASFIkGVa11jda2OlAU_Iqr2Qcducsz-ZA==",
                                "Order": 756,
                                "ConversationID": "I6hgx3Ol-d3HYa3E394T_ACXDmTaBub14w==",
                                "Subject": "Re: Checking in",
                                "Unread": 0,
                                "Type": 0, // 0 = INBOX, 1 = DRAFT, 2 = SENT, 3 = INBOX_AND_SENT
                                "Sender": {
                                    "Address": "example@example.com",
                                    "Name": "Example McExample"
                                },
                                "ToList": [
                                    {
                                        "Address": "jason@protonmail.ch",
                                        "Name": "Jason Stockman"
                                    }
                                ],
                                "Time": 1419011135,
                                "Size": 10133,
                                "Location": 0, // To be removed
                                "Starred": 1, // To be removed
                                "HasAttachment": 0,
                                "IsEncrypted": 2,
                                "ExpirationTime": 0,
                                "IsReplied": 0,
                                "IsRepliedAll": 1,
                                "IsForwarded": 0,
                                "SpamScore": 0,
                                "AddressID": "222",
                                "Body": "-----BEGIN PGP MESSAGE----- -----END PGP MESSAGE-----",
                                "MIMEType": "text/html",
                                "CCList": [],
                                "BCCList": [],
                                "Header": "(No Header)",
                                "ReplyTo": {
                                    "Address": "example@example.com",
                                    "Name": "Example McExample"
                                },
                                "ReplyTos": [
                                    {
                                        "Address": "example@example.com",
[...]
